body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
  }
  
  .adminhome {
    text-align: center;
    padding: 20px;
  }
  
  .adminhome h1 {
    color: #333;
  }
  
  .adminhome form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    display: inline-block;
    text-align: left;
  }
  
  .adminhome form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .adminhome form button ,.adminhome button{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .adminhome form button:hover {
    background-color: #0056b3;
  }
  
  .adminhome ul {
    list-style-type: none;
    padding: 0;
  }
  
  .adminhome li {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    padding: 15px;
    text-align: left;
  }
  
  .adminhome li button ,.search-cards .card button{
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
  }
  
  .adminhome li button:hover {
    background-color: #c82333;
  }
  
  .adminhome li button.update {
    background-color: #ffc107;
    margin-left: 0;
  }
  
  .adminhome li button.update:hover {
    background-color: #e0a800;
  }
  
  .card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* max-width: 400px; */
    width: 100%;
    /* margin: 20px; */
    margin-bottom: 30px;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
}

.card-header {
    background: #007bff;
    color: white;
    padding: 16px;
    text-align: center;
}

.card-body {
    padding: 16px;
}

.flight-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.flight-details div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flight-details strong {
    font-weight: 600;
}

.card button,.search-cards .card button{
  margin: 20px;
  /* width:60px; */
}
@media (max-width: 600px) {
    .card {
        width: 100%;
    }
}
.search-cards{
  margin: 20px;
  justify-content: center;
  /* height: 100%; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */

}
.search-cards .card{
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}
.no-flights-container {
  text-align: center;
  margin-top: 50px;
}

.no-flights-container h2 {
  font-size: 24px;
  color: #333;
}

.no-flights-container p {
  font-size: 16px;
  color: #666;
}